/* >>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>>> Start <<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<  */

/*-----------------------------*/
/* ---------- Fonts ----------- */
/*-----------------------------*/

@import url("../fonts/stylesheet.css");

/*-----------------------------*/
/* ---------- Colors ---------- */
/*-----------------------------*/

$white: white;
$black: black;
$blue: #347ab7;
$orange: #e99a24;
$gray: #979797;
$darkgray: rgb(94, 94, 94);
$lightgray: #e6e6e6;

/*-----------------------------*/
/* ------- Generic CSS -------- */
/*-----------------------------*/


body {
    overflow-x: hidden;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.27;

    @media screen and (max-width: 767.98px) {
        height: fit-content;
        font-size: 14px;
    }
}

.body-font-style {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.27;

    @media screen and (max-width: 767.98px) {
        font-size: 14px;
    }
}

.container,
.container-fluid {
    padding: 0px 20px;
}

P,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    margin: 0;
}

a {
    transition: .3s all ease;
}

h1,
.h1 {
    font-size: 32px;
    line-height: 1.25;

    @media screen and (max-width: 767.98px) {
        font-size: 22px;
    }
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.submit-mileage {
    padding: 100px 0;

    @media screen and (max-width: 991.98px) {
        padding: 80px 0;
    }

    @media screen and (max-width: 767.98px) {
        padding: 40px 0;
    }

    &__title-block {
        display: flex;
        align-items: start;
        margin-bottom: 32px;

        @media screen and (max-width: 767.98px) {
            margin-bottom: 24px;
        }

        .text-wrapper {
            flex-grow: 1;

            h1 {
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 4px;
                color: $blue;

                @media screen and (max-width: 767.98px) {
                    margin-bottom: 2px;
                }
            }

            p {
                color: $gray;

                @media screen and (max-width: 767.98px) {
                    font-size: 13px;
                }
            }
        }

        .icon-wrapper {
            flex-shrink: 0;

            a {
                color: #121212;

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    &__form {
        margin-bottom: 32px;
    }

    &__map {
        &--leads {
            height: 100%;

            @media screen and (max-width: 991.98px) {
                height: fit-content;
                margin-bottom: 32px;
            }

            .btn-group {
                display: flex;

                .btn-wrapper {
                    width: 50%;

                    &>.btn {
                        padding: 12px 10px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &:first-of-type {
                        .btn {
                            border-top-left-radius: 6px;
                        }
                    }

                    &:last-of-type {
                        .btn {
                            border-top-right-radius: 6px;
                        }
                    }

                    &.dropdown {
                        position: relative;

                        ul {
                            display: block;
                            position: absolute;
                            top: calc(100% - 1px);
                            left: 0;
                            width: 100%;
                            box-shadow: 0px 1px 8px rgba(32, 32, 32, 0.219);
                            border-bottom-right-radius: 6px;
                            border-bottom-left-radius: 6px;
                            visibility: hidden;
                            opacity: 0;
                            transition: .2s all ease;

                            li {
                                .dropdown-item {
                                    text-decoration: none;
                                    padding: 12px;
                                    background: $white;
                                    text-align: center;
                                    color: $darkgray;
                                    @extend .body-font-style;

                                    &:hover {
                                        background: #f6f6f6;
                                        color: $darkgray;
                                    }
                                }

                                &.active {
                                    .dropdown-item {
                                        background: $blue;
                                        color: $white;
                                    }
                                }

                                &:last-of-type {
                                    .dropdown-item {
                                        border-bottom-right-radius: 6px;
                                        border-bottom-left-radius: 6px;
                                    }
                                }
                            }
                        }

                        &:hover ul {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            &__inner {
                padding: 20px 16px;
                border: 1px solid $gray;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                border-top: 0;
                height: calc(100% - 55px);

                @media screen and (max-width: 991.98px) {
                    height: fit-content;
                }

                form {
                    label {
                        font-weight: 600;
                        margin-bottom: 6px;
                    }
                }

                .form-input {
                    position: relative;

                    input[type="text"] {
                        padding: 12px 50px 12px 44px;
                    }

                    .search-icon,
                    .filter-icon {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 2;
                        width: 22px;

                        svg {
                            line-height: 0;
                            width: 100%;
                            height: auto;
                        }
                    }

                    .search-icon {
                        left: 12px;
                        color: $gray;
                    }

                    .filter-icon {
                        width: 38px;
                        height: 38px;
                        border-radius: 6px;
                        padding: 10px;
                        right: 6px;
                        background: $blue;
                        cursor: pointer;
                        transition: .4s all ease;

                        svg {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 25px;
                            color: $white;
                        }

                        &:hover {
                            background: darken($blue, 15%);
                        }
                    }
                }
            }
        }

        .map-wrapper {
            .map {
                width: 100%;
                min-height: 750px;

                @media screen and (max-width: 767px) {
                    min-height: 450px;
                }
            }
        }
    }
}


/* Input Control */
.input-control {
    padding: 11px;
    display: flex;
    flex-direction: column;

    /* label */
    label {
        display: block;
        width: fit-content;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 6px;
        color: $gray;
    }

    /* error message*/
    .error-message {
        display: none;
        color: red;

        &.show {
            display: block;
            padding-top: 10px;

            @media screen and (max-width: 767px) {
                font-size: 12px;
                padding-top: 7px;
            }
        }
    }
}


/* All inputs */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
.nice-select {
    position: relative;
    display: block;
    padding: 15px;
    color: $darkgray;
    border: 1px solid $gray;
    border-radius: 6px;
    background-color: $white;
    height: 50px;
    width: 100%;
    outline: none;
    z-index: 1;
    transition: .4s all ease;

    &::placeholder {
        color: $gray;
    }

    &:hover,
    &:focus {
        box-shadow: 0 0 10px rgb(235, 235, 235);
    }

    &:focus,
    &:hover {
        border-color: $blue;
    }
}

/* Nice Select */
.nice-select {
    width: 100%;
    padding: 4px 17px;
    transition: .4s all ease;

    &:hover,
    &:focus {
        border-color: $blue;
    }

    &:after {
        display: none;
    }

    &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve' fill='%23979797'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cg transform='matrix(1 0 0 -1 0 1638)'%3E%3Cpath d='M10,1370.2c0,3.4,0.6,6.6,1.8,9.8s3.1,6,5.8,8.3c5,5,11.1,7.6,18.1,7.6s13.1-2.5,18.1-7.6L500,942.6l445.7,445.7c5,5,11.2,7.6,18.4,7.6s13.3-2.5,18.4-7.6c5-5,7.6-11.1,7.6-18.1s-2.5-13.1-7.6-18.1L518.1,887.7c-5-5-11.1-7.6-18.1-7.6c-7.1,0-13.1,2.5-18.1,7.6L17.6,1352c-2.7,2.4-4.6,5.1-5.8,8.3C10.6,1363.5,10,1366.8,10,1370.2L10,1370.2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-size: cover;
        display: block;
        position: absolute;
        width: 14px;
        height: 14px;
        right: 18px;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        transition: .4s all ease;
    }

    &.open {
        &::before {
            transform: translateY(-50%) rotate(-180deg);
        }
    }

    .current {
        @extend .body-font-style;
        color: $gray;
    }

    .list {
        margin: 0;
        margin-top: 10px;
        width: 100%;
        border-radius: 6px;
        box-shadow: 0px 1px 8px rgba(32, 32, 32, 0.219);

        li {
            padding: 17px;
            line-height: 1;
            background: $white;
            border: 0px;
            font-weight: 500;
            transition: .4s all ease;

            &.selected,
            &.selected.focus {
                background: $blue !important;
                background-color: $blue !important;
                color: $white !important;

                &:hover {
                    background: darken($blue, 5%) !important;
                    color: $white;
                }
            }
        }
    }

}


input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type="file"]+label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: 500;
    color: $darkgray;
    padding: 16px 12px;
    height: 50px;
    background-color: $lightgray;
    border: 1px solid $lightgray;
    margin: 0;
    width: 100%;
    text-transform: capitalize;
    transition: .4s all ease;

    &:hover {
        background-color: darken($lightgray, 4%);
    }
}

input[type="file"]+label span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

input[type="file"]+label svg {
    height: 16px;
    margin-right: 8px;
    flex-shrink: 0;
}

.btn {
    display: block;
    padding: 12px 12px;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
    height: 50px;
    max-height: 50px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
    transition: .4s all ease;
    @extend .body-font-style;

    &.br-none {
        border-radius: 0;
        text-transform: capitalize;
    }

    &:focus {
        box-shadow: none;
    }

    &.btn-blue {
        margin-top: auto;
        background: $blue;
        color: $white;

        &:hover {
            background: darken($blue, 8%);
        }
    }

    &.btn-orange {
        margin-top: auto;
        background: $orange;
        color: $white;

        &:hover {
            background: darken($orange, 6%);
        }
    }
}

.table {

    &>:not(caption)>*>* {
        border: 0;
    }

    tr {

        td,
        th {
            font-size: 14px;
            font-weight: 500;

            @media screen and (max-width: 767.98px) {
                font-size: 12px;
            }

            &:last-of-type {
                text-align: right !important;
            }

            &:nth-last-child(2) {
                text-align: left !important;
            }
        }

        th {
            background: $blue;
            color: $white;
            font-weight: 600;

            &:first-of-type {
                border-top-left-radius: 6px;
            }

            &:last-of-type {
                border-top-right-radius: 6px;
            }
        }
    }

    tbody {
        tr {
            background: #f2f9ff;

            &:nth-child(even) {
                background: #c5e4ff;
            }

            td {
                color: rgb(143, 143, 143);
                font-weight: 500;
            }
        }
    }
}